<!DOCTYPE html>
<html>
	<head>
        <title>backbone experiments</title>
        <link rel="stylesheet" href="bootstrap.css" />
        <style type="text/css">
            .visible { display:block; }
            .hidden { display:none; }
            .done {text-decoration: line-through; }
            .undone {text-decoration:none;}
        </style>
	</head>
    <body>
        <div id="container">
            <ul class='inputs-list'>
            </ul>
        </div>
        <div id="counter" style="clear:both;">
        </div>
        <script src="jquery.js"></script>
        <script src="underscore.js"></script>
        <script src="backbone.js"></script>
        <script type="text/template" id="alert-view">
            <div class="alert-message success fade in" data-alert="alert">
                <a class="close" href="#">x</a>
                <p class="content">Item adicionado!</p>
            </div>
        </script>
        <script type="text/template" id="todo-enter-view">
            <input type="text" class="span8" placeholder="insira sua tarefa e tecle enter" id="todo-text" />
        </script>
        <script type="text/template" id="todo-view">
            <li>
                <label>
                    <input style="float:left" type="checkbox" class="done_status" <%= is_done?'checked':'' %> />
                    <span class="<%= is_done?'done':'undone' %>"><%= todo %></span>
                </label>
            </li>
        </script>
        <script type="text/template" id="remaining-items-view">
            <p><%= remaining %> itens restantes</p>
        </script>
        <script src="bootstrap-alert.js"></script>
        <script src="myapp.js"></script>
    </body>
</html>
