<!DOCTYPE html>
<html>
	<head>
        <title>Jade</title>
        <style type="text/css">
            .visible { display:block; }
            .hidden { display:none; }
            .done {text-decoration: line-through; }
            .undone {text-decoration:none;}
        </style>
	</head>
    <body>
        <div id="container">
        </div>
        <div id="counter">
        </div>
        <script src="jquery.js"></script>
        <script src="underscore.js"></script>
        <script src="backbone.js"></script>
        <script type="text/template" id="todo-enter-view">
            <input type="text" placeholder="insira sua tarefa e tecle enter" id="todo-text" />
        </script>
        <script type="text/template" id="todo-view">
            <p> 
                <input type="checkbox"
                    class="done_status" <%= is_done?'checked':'' %> />
                <label class="<%= is_done?'done':'undone' %>"><%= todo %></label>
            </p>
        </script>
        <script type="text/template" id="remaining-items-view">
            <p><%= remaining %> itens restantes</p>
        </script>
        <script src="myapp.js"></script>
    </body>
</html>
